                   <% if current_user.has_role?('admin') or current_user.has_role?('responsavel') %>
                    <li><a href="#"><b>Emprestimos</b></a>
                         <ul>
                           <li><%= link_to "Alunos", new_emprestimo_path(:type => 0 ) %> </li>
                           <li><%= link_to "Funcionarios", new_emprestimo_path(:type => 1)%></li>
                        </ul>
                     </li>
                  <%end%>
                     <li><a>Devolução</a>
                        <ul>
                         <li><%= link_to "Listar emprestimos", busca_emprestimo_emprestimos_path%></li>
                         <li><%= link_to "Busca por tombos", ativos_emprestimos_path%></li>
                        </ul>
                      </li>



